## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [128]:
# Your code here
from random import shuffle

list_1 = list(range(1,81))
print (list_1)

random.shuffle(list_1)
print (list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
[30, 42, 59, 44, 74, 20, 71, 62, 61, 27, 58, 64, 40, 50, 36, 18, 23, 11, 21, 55, 67, 52, 12, 25, 45, 24, 8, 31, 13, 79, 46, 47, 6, 51, 28, 10, 77, 37, 66, 69, 80, 16, 34, 22, 73, 4, 9, 49, 14, 70, 56, 75, 43, 48, 39, 15, 60, 53, 72, 65, 19, 26, 33, 5, 17, 32, 29, 3, 41, 35, 7, 1, 76, 57, 38, 63, 68, 78, 54, 2]

In [130]:
sample_list_1 = list_1
print(sample_list_1)

[30, 42, 59, 44, 74, 20, 71, 62, 61, 27, 58, 64, 40, 50, 36, 18, 23, 11, 21, 55, 67, 52, 12, 25, 45, 24, 8, 31, 13, 79, 46, 47, 6, 51, 28, 10, 77, 37, 66, 69, 80, 16, 34, 22, 73, 4, 9, 49, 14, 70, 56, 75, 43, 48, 39, 15, 60, 53, 72, 65, 19, 26, 33, 5, 17, 32, 29, 3, 41, 35, 7, 1, 76, 57, 38, 63, 68, 78, 54, 2]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [133]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [140]:
# Your code here
list_2 = list(range(20,100))

random.shuffle(list_2)
print (list_2)

[63, 58, 69, 59, 42, 39, 53, 64, 43, 50, 66, 87, 96, 23, 31, 44, 80, 34, 79, 70, 61, 25, 72, 86, 22, 68, 84, 60, 28, 62, 26, 85, 33, 46, 49, 74, 40, 36, 88, 83, 35, 89, 93, 73, 57, 94, 32, 75, 99, 38, 48, 24, 51, 81, 56, 65, 21, 95, 52, 71, 67, 45, 20, 82, 47, 91, 29, 41, 27, 76, 77, 54, 30, 92, 55, 98, 78, 37, 90, 97]

In [141]:
sample_list_2 = list_2

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [142]:
# Your code here
set2 = set(sample_list_2)

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [149]:
# Your code here
set3 = set1-set2
print (set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [150]:
# Your code here
set4= set2 - set1
print(set4)

{81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [157]:
# Your code here
set5 = (set1.intersection(set2))
print (set5)

{20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [168]:
# Your code
len(set1 or set2) - len(set5) == len(set4 or set3)

True

#### Create an empty set called `set6`.

In [199]:
# Your code here
set6 = {}
set(set6)

set6

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [217]:
# Your code 
join = set3.union(set5)
set(join)

print (join)

set6= join
print (set6)
#no pude hacerlo con update

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Check if `set1` and `set6` are equal.

In [218]:
# Your code here
if set1 == set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [219]:
# Your code here
contains = set1.issubset(set2)
print(contains)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [235]:
# Your code here
union1 = set4.union(set5)
union2 = set1.union(set2)

if union1 == union2:
    print (True)
else:
    print(False)

unidos= set3.union(union1,union2)
print (unidos)

False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [245]:
# Your code here
print(set1)

set100= set1.pop()
print(set100)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [250]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set (list_to_remove)

last = set1-(set(list_to_remove))
print(last)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80}